{{> post-info post }}
{{#if loggedIn}}
<div class="container">
    <div class="row mt-4" id="login-form">
        <div class="col-8 offset-2 align-self-center">
            <div class="comment-form">
              <div>
                <textarea id="comment-body" class="form-control" name="comment-body" rows="4"></textarea>
              </div>
              <div>
                <button type="button" id="add-comment" class="submit-btn">add comment</button>
              </div>
            </div>
        </div>
    </div>
{{/if}}
    <div class="row mt-4" id="login-form">
        <div class="col-8 offset-2 align-self-center">
            {{> comments post.comments }}
        </div>
    </div>

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}
